body{
    font-size: 15px;
    margin: 0;
    min-width: 360px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
}
.head {
    
    direction: ltr;
    color: black;
    font: 13px/27px Arial,sans-serif;
    box-sizing: border-box;
    width: 100%;
    min-width: min-content;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302),0 2px 6px 2px rgba(60,64,67,0.149);
    


}
.head .logo a,span{
    
    color: #5f6368;
    opacity: 1;
    display: inline-block;
    font-family:Arial,sans-serif;
    font-size: 22px;
    line-height: 24px;
    padding-left: 12px;
    position: relative;
    vertical-align: middle;
   
}

.head .name-icon{
    position: relative;
}
.side{
    width:15%;
   
}
.side ul{
   margin-left:-30px;
   margin-top: 10px;
}


.side li img{
    display: flex;
    background-color: #feefc3;
    justify-content: center;
    padding:10px;
    align-content: center;
    border-image:round;
    width:50%;
    margin-left: 7%;
   
}

.side li .note{
    padding-top: 6px;
}

.main{
   
    width:85%;
    display: flex;
    justify-content: center;

}

    .box{
        color: #202124;
        direction: ltr;
        font-family: arial,sans-serif;
        font-size: .875rem;
        opacity: 1;
        border-radius: 8px;
        box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302),0 2px 6px 2px rgba(60,64,67,0.149);
        width: 50%;
        height: 40px;
        margin-left:auto;
        margin-right: auto;
        margin-top: 30px;
    
}

@media  screen and (max-width:600px) 
{
    .side li
    {
        background-color: none;
    }
 .side li p
    {
        display: none;
    }
   .side li img
   {  
    background-color: #feefc3;
    border-image-repeat: round;
    width:70%;
   }

   .main .box
   {
       margin-left: 0%;
       width: 90%;
       margin-top: 20px;
   }
    
}
